In [1]:
import pandas as pd

In [12]:
# github paths
goog_path = 'https://raw.githubusercontent.com/inga-maria01/master_thesis/main/data/market_cap/goog_market_cap_2015-2019.xlsx'
googl_path = 'https://raw.githubusercontent.com/inga-maria01/master_thesis/main/data/market_cap/googl_market_cap_2015-2019.xlsx'

# open files
goog = pd.read_excel(goog_path).drop(columns=['Unnamed: 0'])
    
googl = pd.read_excel(googl_path).drop(columns=['Unnamed: 0'])

In [10]:
goog.columns

Index(['Date', 'Company Market Cap'], dtype='object')

In [9]:
googl

           Date  Company Market Cap
0    2015-01-02        3.576201e+11
1    2015-01-05        3.504869e+11
2    2015-01-06        3.420991e+11
3    2015-01-07        3.413021e+11
4    2015-01-08        3.424349e+11
...         ...                 ...
1253 2019-12-24        9.269376e+11
1254 2019-12-26        9.389673e+11
1255 2019-12-27        9.333334e+11
1256 2019-12-30        9.227547e+11
1257 2019-12-31        9.229463e+11

[1258 rows x 2 columns]

In [14]:
import pandas as pd

# # Sample data for demonstration
# data_goog = {
#     'Date': ['2021-01-01', '2021-01-02', '2021-01-03'],
#     'Company Market Cap': [500, 600, 700]
# }

# data_googl = {
#     'Date': ['2021-01-01', '2021-01-02', '2021-01-03'],
#     'Company Market Cap': [500, 605, 700]
# }

# Merging dataframes on 'Date'
merged_df = pd.merge(goog, googl, on='Date', suffixes=('_goog', '_googl'))

# Checking for equality of 'Company Market Cap'
merged_df['Market Cap Equal'] = merged_df['Company Market Cap_goog'] == merged_df['Company Market Cap_googl']

# Resulting DataFrame
merged_df

all_equal = merged_df['Market Cap Equal'].all()
all_equal

True

The market cap values in goog and googl are equal